

.queue-container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.doctor-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.doctor-photo {
  width: 120px;
  height: 120px;
  background-color: #f3f3f3;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Queue3.css */
.day-btn.original-date {
    border: 2px solid #0d6efd;
    background-color: #cfe2ff!important;
    cursor: not-allowed !important;
    pointer-events: none !important;
    color: #0d6efd !important;
    
}
.day-btn:disabled,
.day-btn.disabled {
    pointer-events: none !important;
    opacity: 0.5;
    cursor: not-allowed !important;
}


.week-selector {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 25px;
}

.arrow-btn {
  border: none;
  background: #eee;
  font-size: 20px;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
}

.days-container {

  display: flex;
  gap: 10px;
  flex-wrap: nowrap;

}

.day-btn {
  border: 1px solid #007bff;
  background: white;
  color: #007bff;
  border-radius: 8px;
  padding: 8px 12px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}

.day-btn.active {
  background-color: #007bff;
  color: white;
}

.day-btn.disabled {
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
  background: #f5f5f5;
}

.time-section {
  margin-top: 15px;
}

.times {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 8px;
}

.time-btn {
  border: 1px solid #007bff;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  color: #007bff;
  background: white;
}
.time-btn-selected {
  border: 1px solid #007bff;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  background: #007bff;
}
.time-btn:hover {
  background-color: #007bff;
  color: white;
}

.no-times {
  color: #888;
  font-size: 14px;
}

.week-slider-wrapper {
  overflow: hidden;
  width: 100%;
}
.days-container {
  display: flex;
  gap: 10px; /* space between buttons */
}
.day-btn {
  min-width: 70px; /* fixed width for animation calculation */
}
.backButton {
  margin-top: 70px;
  border-radius: 15px;
  margin-bottom: 20px;
  width: fit-content;
}